@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-color: #98CAF1 !important;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: #F1BF98;
}

button {
    background: #98CAF1 !important;
}

h1 {
    font-size: 1.75rem;
    font-weight: 500;
}


.navbar {
    background: #98CAF1;
}

a:active, a:hover {
    color: #F1BF98 !important;
}